rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /company/{company_id} {
      allow read,create,delete,update: if true
    }
    match /users/{uid} {
      allow read,create,delete,update: if true

      match /messages/{message_id} {
        allow read,create,delete,update: if true
      }
    }
    match /{path=**}/messages/{message_id} {
      allow read,create,delete,update: if true
    }
  }
}
